<script>
import { computed } from 'vue'
import { useStore } from 'vuex'
import axios from 'axios'
import { useRouter } from 'vue-router'
import { ref } from 'vue'

export default {
  setup() {
    const drawerOpen = ref(false)

    const toggleDrawer = () => {
      console.log('imclicked')
      drawerOpen.value = !drawerOpen.value
    }
    const store = useStore()
    const router = useRouter()
    const user = computed(() => store.state.user)
    console.log(user)
    const logout = () => {
      axios
        .post('http://localhost:3000/users/logout', {}, { withCredentials: true })
        .then((data) => {
          console.log(data)
          store.dispatch('removeUser')
          router.push('/login')
        })
    }

    return {
      user,
      logout,
      toggleDrawer,
      drawerOpen
    }
  }
}
</script>
<template>
  <header class="flex justify-between items-center mb-16">
    <h1 v-if="!drawerOpen" class="font-bold">Weather App</h1>
    <nav class="flex gap-4 font-semibold">
      <div @click="toggleDrawer" class="block md:hidden">
        <span v-if="!drawerOpen" class="material-symbols-outlined text-2xl">☰</span>
      </div>

      <div v-if="!drawerOpen" class="hidden md:flex space-x-4">
        <router-link to="/" class="hover:text-blue-700">Home</router-link>
        <router-link v-if="!user" to="/signup" class="hover:text-blue-700">Signup</router-link>
        <router-link v-if="!user" to="/login" class="hover:text-blue-700">Login</router-link>
        <div v-if="user" class="flex items-center gap-2">
          <router-link to="/saved" class="hover:text-blue-700">Saved Places</router-link>
          <span v-if="user.currentUser" class="bg-teal-500 text-white rounded px-2">{{
            user.currentUser.userName
          }}</span>
          <button @click="logout" class="hover:text-blue-700">Logout</button>
        </div>
      </div>

      <div
        name="drawer"
        class="absolute top-0 right-0 w-full h-20 bg-white shadow-lg z-50 transform transition-transform duration-300"
        :class="{ 'translate-y-0': drawerOpen, '-translate-y-full': !drawerOpen }"
      >
        <div></div>
        <div class="h-16 flex justify-center items-center gap-2 lg:hidden">
          <router-link to="/" class="hover:text-blue-700">Home</router-link>
          <router-link v-if="!user" to="/signup" class="hover:text-blue-700">Signup</router-link>
          <router-link v-if="!user" to="/login" class="hover:text-blue-700">Login</router-link>
          <router-link to="/saved" v-if="user" class="hover:text-blue-700"
            >Saved Places</router-link
          >
          <button @click="logout" v-if="user" class="hover:text-blue-700">Logout</button>
        </div>
        <div @click="toggleDrawer" class="absolute top-2 right-2">
          <span v-if="drawerOpen" class="material-symbols-outlined text-2xl">✖</span>
        </div>
      </div>
    </nav>
  </header>
</template>
