<script setup>
import { useStore } from 'vuex'
import axios from 'axios'
import { computed, reactive } from 'vue'
import { getWeatherData } from '@/services/weatherService'

const store = useStore()

const search = reactive({
  query: ''
})

const loading = computed(() => store.state.loading)
const error = computed(() => store.state.error)
const data = computed(() => store.state.data)

const handleLocationClick = async (e) => {
  e.preventDefault()
  try {
    const position = await getCurrentPosition()
    const { latitude, longitude } = position.coords
    const weatherData = await fetchWeatherData(latitude, longitude)
    store.commit('setCity', weatherData.name)
    store.commit('setWeatherData', weatherData)
  } catch (error) {
    console.error('Error fetching weather data:', error)
  }
}

const getCurrentPosition = () => {
  return new Promise((resolve, reject) => {
    navigator.geolocation.getCurrentPosition(resolve, reject)
  })
}

const fetchWeatherData = async (latitude, longitude) => {
  try {
    const response = await axios.get(
      `http://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=e9ae32895dbade34cea8a040276478d6&units=metric`
    )
    return response.data
  } catch (error) {
    throw new Error('Failed to fetch weather data')
  }
}

const handleSearch = async () => {
  clearTimeout(handleSearch.timeout)
  store.commit('setLoading', true)
  handleSearch.timeout = setTimeout(async () => {
    try {
      const weatherData = await getWeatherData(search.query)
      store.commit('setCity', weatherData.name)
      store.commit('setWeatherData', weatherData)
      store.commit('setError', null)
    } catch (err) {
      store.commit('setError', err.message)
    } finally {
      store.commit('setLoading', false)
    }
  }, 1000)
}
</script>

<template>
  <div>
    <div>
      <form class="flex gap-2 items-center">
        <div
          class="bg-white border border-indigo-600/30 rounded-lg shadow-lg flex items-center w-full"
        >
          <i class="p-2 text-indigo-600"></i>
          <input
            type="text"
            placeholder="Search city"
            class="w-full rounded-lg p-2 border-0 outline-0"
            v-model="search.query"
            @input="handleSearch"
          />
        </div>
        <button
          @click="handleLocationClick"
          class="w-1/5 flex flex-col items-center justify-center"
        >
          <span class="material-symbols-outlined"> my_location </span>
          <p class="text-sm text-center hidden sm:block">My Location</p>
        </button>
      </form>
      <div v-if="loading" class="mt-2 text-gray-500">Loading...</div>
      <div v-else-if="error" class="mt-2 text-red-500">{{ error }}</div>
      <div v-else-if="data" class="mt-2"></div>
    </div>
  </div>
</template>
