<script>
import { computed, defineComponent } from 'vue'
import { useStore } from 'vuex'
import { format } from 'date-fns'
import axios from 'axios'
import { useRouter } from 'vue-router'

export default defineComponent({
  setup() {
    const router = useRouter()
    const store = useStore()
    const user = computed(() => store.state.user)
    const weatherData = computed(() => store.state.weatherData)
    const getCurrentTime = computed(() => {
      const currentTime = new Date()
      return format(currentTime, 'h:mm a')
    })
    const handleForecast = () => {
      router.push('/forecast')
    }

    const handleSave = () => {
      store.dispatch('saveWeatherData', {
        city: weatherData.value.name,
        temperature: weatherData.value.main.temp,
        weather: weatherData.value.weather[0].description,
        weatherIcon: weatherData.value.weather[0].icon,
        user: user.value.currentUser._id
      })
      axios
        .post(
          'http://localhost:3000/weathers/add-weather',
          {
            city: weatherData.value.name,
            temperature: weatherData.value.main.temp,
            weather: weatherData.value.weather[0].description,
            weatherIcon: weatherData.value.weather[0].icon,
            user: user.value.currentUser._id
          },
          { withCredentials: true }
        )
        .then((res) => {
          console.log(res)
        })
        .catch((err) => console.log(err))
    }
    return {
      weatherData,
      getCurrentTime,
      handleSave,
      handleForecast
    }
  }
})
</script>
<template>
  <div
    v-if="weatherData"
    class="mt-20 p-4 text-white bg-blue-500 rounded shadow-lg flex flex-col justify-center"
  >
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <span class="material-symbols-outlined"> location_on </span>
        <h3>
          {{ weatherData.name }}
        </h3>
      </div>
      <div class="flex items-center gap-1">
        <span class="material-symbols-outlined"> schedule </span>
        <span>{{ getCurrentTime }}</span>
      </div>
    </div>

    <div class="flex flex-col justify-center items-center">
      <img
        class="w-40"
        :src="`http://openweathermap.org/img/wn/${weatherData.weather[0].icon}.png`"
        alt="Weather Icon"
      />
      <span class="text-4xl my-4">{{ weatherData.main.temp.toFixed(0) }}°C</span>
      <span class="text-lg">{{ weatherData.weather[0].description }}</span>
    </div>
    <div class="flex justify-between items-center mt-6">
      <button @click="handleForecast" class="flex items-center bg-yellow-600 rounded py-1 px-2">
        Show foreccast
      </button>
      <button @click="handleSave" class="bg-teal-600 px-4 py-1 rounded hover:opacity-70">
        Save
      </button>
    </div>
  </div>
</template>
