<script>
import { ref, onMounted, computed, watch } from 'vue'
import Chart from 'chart.js/auto'
import store from '@/store/store'
import { getForecastWeatherData } from '@/services/weatherService'

export default {
  
  setup() {
    const cityName = computed(() => store.state.city)
    console.log(cityName)

    const forecasts = ref([])

    onMounted(async () => {
      try {
        const forecastData = await getForecastWeatherData(cityName)
        forecasts.value = forecastData.list
      } catch (error) {
        console.error('Error fetching forecast weather data:', error)
      }
    })

    const formatDate = (date) => {
      return new Date(date).toLocaleDateString('en-US', {
        weekday: 'short',
        month: 'short',
        day: 'numeric'
      })
    }
    const createChart = () => {
      const ctx = document.getElementById('weatherChart').getContext('2d')
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: forecasts.value.map((forecast) => formatDate(forecast.dt_txt)),
          datasets: [
            {
              label: 'Temperature (°C)',
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              data: forecasts.value.map((forecast) => forecast.main.temp.toFixed(0).slice(0, 2))
            }
          ]
        },
        options: {
          scales: {
            y: {
              min: 20,
              max: 40,
              beginAtZero: false
            }
          }
        }
      })
    }

    onMounted(() => {
      watch(forecasts, () => {
        if (forecasts.value.length > 0) {
          createChart()
        }
      })
    })
    return { cityName }
  }
}
</script>
<template>
  <div class="p-4 mt-10 rounded shadow-lg">
    <h2 class="text-2xl text-center mb-6">Weather Forecast for {{ cityName }}</h2>
    <canvas id="weatherChart" width="400" height="200"></canvas>
  </div>
</template>
