<script setup>
import SearchInput from '../components/SearchBar.vue'
import WeatherCard from '../components/WeatherData.vue'

</script>


<template>
  <main>
    <div class="text-center mb-6">
      {{
        new Date().toLocaleDateString('en-us', {
          weekday: 'long',
          year: 'numeric',
          month: 'long',
          day: 'numeric'
        })
      }}
    </div>
    <div>
      <SearchInput/>
      <WeatherCard/>
    </div>
  </main>
</template>