<script>
import axios from 'axios'
import store from '@/store/store'
export default {
  name: 'LoginPage',
  data() {
    return {
      email: '',
      password: '',
      errorMessage: ''
    }
  },
  methods: {
    async handleSubmit() {
      try {
        const response = await axios.post('http://localhost:3000/users/login', {
          email: this.email,
          password: this.password
        })
        console.log(response)
        const user = response.data
        store.dispatch('saveUser', user)

        console.log('Login successful')
        this.$router.push('/')
      } catch (error) {
        console.error('Login error:', error.response.data.message)
        this.errorMessage = error.response.data.message
      }
    }
  }
}
</script>
<template>
  <div class="max-w-xl mx-auto mt-24 px-12 py-24 bg-white shadow-md rounded-md">
    <h2 class="text-2xl font-semibold mb-4 text-center">Login</h2>
    <form @submit.prevent="handleSubmit" class="space-y-4">
      <div>
        <label for="email" class="block text-sm font-medium">Email:</label>
        <input
          type="email"
          id="email"
          v-model="email"
          required
          class="w-full outline-none p-2 bg-zinc-100 rounded-md"
        />
      </div>
      <div>
        <label for="password" class="block text-sm font-medium">Password:</label>
        <input
          type="password"
          id="password"
          v-model="password"
          required
          class="w-full outline-none p-2 mb-8 bg-zinc-100 rounded-md"
        />
      </div>
      <button type="submit" class="w-full bg-teal-500 text-white py-2 rounded-md">Login</button>
      <p v-if="errorMessage" class="text-red-500 text-center p-2 rounded">{{ errorMessage }}</p>
      <p class="text-center pt-6 text-blue-700">
        <router-link to="/signup"> Don't have an account? Signup</router-link>
      </p>
    </form>
  </div>
</template>
