<script>
import axios from 'axios'
import store from '@/store/store'
import { computed, ref } from 'vue'

export default {
  setup() {
    const user = computed(() => store.state.user)
    const savedweathers = ref([])

    const fetchSavedWeather = () => {
      axios
        .get('http://localhost:3000/weathers/api/' + user.value.currentUser._id)
        .then((response) => {
          savedweathers.value = response.data
          console.log(savedweathers.value)
        })
        .catch((err) => console.error(err))
    }

    const handleDelete = (weatherId) => {
      console.log(weatherId)
      axios
        .delete('http://localhost:3000/weathers/api/' + weatherId)
        .then((res) => {
          console.log(res)
          savedweathers.value = savedweathers.value.filter((weather) => weather._id !== weatherId)
        })
        .catch((err) => console.error(err))
    }

    fetchSavedWeather()
    return {
      savedweathers,
      handleDelete
    }
  }
}
</script>
<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">Saved Weather Data</h1>
    <div v-if="savedweathers.length === 0" class="text-gray-500">
      No saved weather data available
    </div>
    <div
      v-else
      class="mt-20 text-white grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12"
    >
      <div
        v-for="weather in savedweathers"
        :key="weather._id"
        class="mb-4 bg-blue-500/90 p-6 rounded shadow-lg flex flex-col justify-center items-center"
      >
        <button @click="handleDelete(weather._id)" class="self-end">
          <span class="material-symbols-outlined text-red-500"> delete </span>
        </button>
        <h2 class="text-xl font-semibold">{{ weather.city }}</h2>
        <img
          class="w-40"
          :src="`http://openweathermap.org/img/wn/${weather.weatherIcon}.png`"
          alt="Weather Icon"
        />
        <p class="text-4xl font-semibold">{{ weather.temperature.toFixed(0) }}°C</p>
        <p class="text-xl mt-6">{{ weather.weather }}</p>
      </div>
    </div>
  </div>
</template>
